/* Header.module.css */

.container-lang-right {
  display: flex;
  width: var(--btn-width);
}

.btn-header {
  width: var(--btn-width);
  border: 0.25em solid var(--light-color);
}

.btn-header:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 0.25em solid var(--dark-color);
}

.btn-cyr,
.btn-lat {
  width: 50%;
  margin: 0;
}

.btn-cyr {
  border-right: 0.25em solid var(--dark-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-lat {
  border-left: 0.25em solid var(--dark-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-header-active {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-color: var(--dark-color);
}
